<%= stylesheet_link_tag "home.css" %>
<section class="page">
  <div class="main_section">
    <h1 class="title"><b>Admin Menu</b></h1>
    <section class="recent_section">
      <h3><%= link_to "Manage events", admin_events_path %></h3>
      <h3><%= link_to "Manage organizations", admin_organizations_path %></h3>
    </section>
  </div>
</section>
