<%= stylesheet_link_tag "event_index" %>

<div class="d-flex align-items-center bd-highlight mb-3">
  <h1 class="title mr-auto p-2 bd-highlight">Events</h1>
  <div class="add p-2 bd-highlight"><%= link_to(
                                            content_tag(
                                                :i,
                                                nil,
                                                class: 'fas fa-plus fa-3x'
                                            ),
                                            new_admin_event_path
                                        )
  %></div>
</div>

<section class="recent_section">
  <%= render :partial => 'admin/events/events_list', collection: @events, as: :event %>
</section>