<%= stylesheet_link_tag "event_index" %>

<h1 class="title">Events</h1>
<section class="recent_section">
  <%= render :partial => 'events/events_list', collection: @events, as: :event %>
  <i class="fas fa-trash-alt"></i>
</section>