<%= stylesheet_link_tag "event_index" %>
<p id="notice"><%= notice %></p>

<h1 class="title">Events</h1>
<section class="recent_section">
  <%= render :partial => 'events/events_list', collection: @events, as: :event %>
</section>