<%= stylesheet_link_tag "new_event" %>

<h1 class="title">New Event</h1>

<section class="new_event_wrapper">
  <h1 class="wrapper_title">General information: </h1>
  <form class="event_form">
    <section class="new_event_name">
      <label for="name_field"><b>Event name:</b> </label>
      <input type="text" class="name_field" name="name_field"><br><br>
    </section>
    <section class="new_event_desc">
      <label for="desc_field"><b>Event description:</b> </label>
      <textarea type="text" class="desc_field" name="desc_field"></textarea>
    </section>
    <section class="new_event_date">
      <input type="radio" class="set_date" name="set_date" value="">
      <label for="set_date"><b>Set a Date:</b> </label>
      <input type="date" class="start" name="trip-start"
             value="2018-07-22"
             min="2018-01-01" max="2018-12-31"><br>

      <input type="radio" class="set_poll" name="set_poll" value="">
      <label for="set_poll"><b>Set a Poll</b> </label><br>
    </section>
  </form>
</section>

<section class="invite_wrapper">
  <h1 class="wrapper_title">invite Friends and users: </h1>
  <% @invite_users.each do |user| %>
    <section class="user">
      <i class="far fa-square fa-5x"></i>
      <% full_name =  user.name + " " + user.lastName%>
      <p><b><%= link_to full_name, user_path(user.id)%></b></p>
    </section>
  <% end %>
</section>


<section class="button_wrapper">
  <button class="button">Create Event</button>
   <!-- render 'form', event: @event -->

</section>
