<%= stylesheet_link_tag "organization_index" %>
<div class="d-flex align-items-center bd-highlight mb-3">
  <h1 class="title mr-auto p-2 bd-highlight">Organizations</h1>
</div>


<section class="organization_wrapper">
  <%= render :partial => 'organization_list', collection: @organizations, as: :organization %>
</section>
