
a:link {
    color: #8E7A3F;
    text-decoration: none;
}

a:visited{
    color: #786736;
}

a:hover{
    color: #ac934e;
}

html{
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

main {
    background-color: #333;
    min-height: 100vh;
    width: 100%;
    padding-top: 20px;
}



td,th {
    padding: 0.2em;
    text-align: left;
}

.topnav {
    padding: 10px;
    overflow: hidden;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

    .header_brand{
        margin-left: auto;
    }
        .page_name{
            font-size: 40px;
            display: block;

            margin-bottom: 0;
        }

    .header_search{
        margin-left: 10%;
        display: flex;
    }

    .header_rightPart{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: auto;
    }
        .header_rightPart h3{
            margin: 0;
        }
        .header_rightPart a{
            display: block;
            font-size: 17px;
            padding: 14px 16px;
            text-align: center;
        }

        .header_rightPart a:hover{
            background-color: #333333;
            color: white;
        }

.footer {
    color: #8E7A3F;
    background: #262626;
    padding: 1em;
    height: 6em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    .footer_icons{
        display: flex;
        justify-content: space-evenly;
        width: 20%;
    }

.title{
    margin-left: 10%;
    margin-right: 10%;
    color: #8E7A3F;
    font-size: 40px;
}
.subtitle{
    margin-left: 10%;
    margin-right: 10%;
    color: #8E7A3F;
    font-size: 25px;
}

