a:link {
    color: #8E7A3F;
}
a:hover{
    color: #ac934e;
}
a:visited{
    color: #786736;
}

.title{
    margin-left: 10%;
    margin-right: 10%;
    color: #8E7A3F;
    font-size: 40px;
}
.trash{
    margin-left: 50%;
    color: #8E7A3F;
}
.pencil{

    color: #8E7A3F;
}
.event_image_wrapper{
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    border: 2px solid #8E7A3F;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    text-align: center;
}
    .far fa-square fa-10x{
        margin-top: auto;
        margin-bottom: auto;
    }
.event_section{
    display: flex;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
    .event_details{
        width: 75%;
        margin-right: 2%;
        background-color: #262626;
        color: #ffffff;
        padding: 1%;
        border: 2px solid #8E7A3F;
    }
        .event_dates i{
            font-size: medium;
        }
    .event_options_wrapper{
        display: flex;
        flex-direction: column;
        width: 25%;
        background-color: #262626;
        color: #8E7A3F;
        border: 2px solid #8E7A3F;
    }
    .event_options_wrapper a{
        display: block;
        font-size: 17px;
        padding: 22px;
        text-align: center;
        border: 2px solid #8E7A3F;

    }
    .event_options_wrapper a:hover{
        background-color: #333333;
        color: white;
    }


.invite_wrapper{
    margin-left: 10%;
    margin-bottom: 5%;
    width: 25%;
    height: auto;
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    border: 2px solid #8E7A3F;
    float: left;
    align-items: center;
}

    .user{
        display: flex;
        background-color: #262626;
        color: #ffffff;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        border: 2px solid #8E7A3F;
        margin: 2%;

    }
    .invite_wrapper i{
        margin-right: 1%;
    }
    .invite_wrapper p{
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }

.comments_wrapper{
    margin-right: 10%;
    margin-bottom: 5%;
    width: 45%;
    height: auto;
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    border: 2px solid #8E7A3F;
    float: right;
    align-items: center;
}
    .comment_box{
        margin: 2%;
        background-color: #262626;
        color: #ffffff;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        border: 2px solid #8E7A3F;
    }
        .user_comment{
            display: flex;
            align-items: center;
        }
            .user_comment i{
                margin-right: 1%;
            }
            .edit_comment{
                display: none;
            }
        .comment{
            margin-left: 10%;
        }
    .reply_box{
        margin: 2%;
        margin-left: 10%;
        background-color: #262626;
        color: #ffffff;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        border: 2px solid #8E7A3F;
    }
        .user_reply{
            display: flex;
            align-items: center;
        }
            .user_reply i{
                margin-right: 1%;
            }
        .reply{
            margin-left: 10%;
        }
