a:link {
    color: #8E7A3F;
}
a:hover{
    color: #ac934e;
}
a:visited{
    color: #786736;
}

.title{
    margin-left: 10%;
    margin-right: 10%;
    color: #8E7A3F;
    font-size: 40px;
}
    .event_section{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        height: auto;
        vertical-align: center;
        background-color: #262626;
        color: #ffffff;
        padding: 1%;
        border: 2px solid #8E7A3F;
        display: flex;

        align-items: center;
    }
        .event_details{
            display: block;
            margin-left: 1%;
        }
            .event_dates i{
                font-size: medium;
            }


.invite_wrapper{
    margin-left: 10%;
    margin-bottom: 5%;
    width: 25%;
    height: auto;
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    border: 2px solid #8E7A3F;
    float: left;
    align-items: center;
}

    .user{
        display: flex;
        background-color: #262626;
        color: #ffffff;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        border: 2px solid #8E7A3F;
        margin: 2%;

    }
    .invite_wrapper i{
        margin-right: 1%;
    }
    .invite_wrapper p{
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }

.comments_wrapper{
    margin-right: 10%;
    margin-bottom: 5%;
    width: 45%;
    height: auto;
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    border: 2px solid #8E7A3F;
    float: right;
    align-items: center;
}
    .comment_box{
        margin: 2%;
        background-color: #262626;
        color: #ffffff;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        border: 2px solid #8E7A3F;
    }
        .user_comment{
            display: flex;
            align-items: center;
        }
            .user_comment i{
                margin-right: 1%;
            }
        .comment{
            margin-left: 10%;
        }
    .reply_box{
        margin: 2%;
        margin-left: 10%;
        background-color: #262626;
        color: #ffffff;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        border: 2px solid #8E7A3F;
    }
        .user_reply{
            display: flex;
            align-items: center;
        }
            .user_reply i{
                margin-right: 1%;
            }
        .reply{
            margin-left: 10%;
        }
