.title{
    margin-left: 10%;
    margin-right: 10%;
    color: #8E7A3F;
    font-size: 40px;
}
.add{
    margin-left: 10%;
    margin-right: 10%;
    color: #8E7A3F;
}
.recent_section{
    margin-right: 10%;
    margin-left: 10%;
}
    .event_section{
        width: 100%;
        height: auto;
        background-color: #262626;
        color: #ffffff;
        padding-left: 1%;
        padding-right: 1%;
        margin-bottom: 2%;
        border: 2px solid #8E7A3F;
        float: left;
        display: block;
    }
        .recent_title{
            font-size: xx-large;
            color: #8E7A3F;
            display: flex;
        }
            .recent_event_name{
                color: #8E7A3F;
            }
            .recent_buttons{
                align-self: center;
                margin-left: auto;
            }
                i:hover{
                    color: #ac934e;
                }
                i:active{
                    color: #8E7A3F;
                }


        .recent_body{
            display: flex;
            padding-bottom: 10px;
        }
            .far fa-square fa-10x{
                float: left;
                width: auto;
            }
            .recent_details{
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                align-content: space-evenly;
            }
                .recent_event_desc{
                    color: white;
                    margin-bottom: 2%;
                }
                .recent_date_box{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 2%;
                }
                    .recent_poll{
                        font-size: large;
                        margin-left: 3px;
                        margin-bottom: 0;
                    }

                    .recent_startDate{
                        margin-left: 3px;
                        margin-right: 10px;
                        margin-bottom: 0;
                    }

                    .recent_endDate{
                        margin-left: 3px;
                        margin-bottom: 0;
                    }