
.page{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
    .main_section{
        width: 60%;
    }
        .title{
            margin-left: 10%;
            margin-right: 10%;
            color: #8E7A3F;
            font-size: 40px;
        }

        .recent_section{
            width: 100%;
            background-color: #262626;
            color: #ffffff;
            padding: 1%;
            margin-bottom: 2%;
            margin-left: 10%;
            margin-right: 2%;
            border: 2px solid #8E7A3F;
            display: flex;
            flex-direction: column;
        }
            .event_section{
                margin: 2%;
                height: auto;
                background-color: #262626;
                color: #ffffff;
                padding-left: 1%;
                padding-right: 1%;
                border: 2px solid #8E7A3F;
            }
                .recent_title{
                    font-size: xx-large;
                    color: #8E7A3F;
                    display: flex;
                    padding-top: 2%;
                    padding-bottom: 1%;
                }
                .recent_title p{
                    margin-bottom: 0%;
                }
                .recent_title i{
                    margin-top: 2%;
                    margin-bottom: 0%;

                }
                    .recent_buttons{
                        align-self: center;
                        margin-left: auto;
                    }
                        i:hover{
                            color: #ac934e;
                        }
                        i:active{
                            color: #8E7A3F;
                        }
                        .fa-square::before{
                            color: white;
                        }
            .recent_body{
                width: 100%;
                display: flex;
                padding-bottom: 10px;
                margin-top: 0;
                margin-left: 1%;
                margin-right: 1%;
                margin-bottom: 1%;
                display: flex;
                justify-content: start;
                align-content: center;
            }
                .event_image_wrapper i{
                    border-radius: 100px;
                }
                .recent_details{
                    margin-left: 20px;
                    padding-top: 0;
                }
                    .recent_event_desc{
                        color: white;
                    }
                    .recent_date_box{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 2%;
                    }
                        .recent_poll{
                            font-size: large;
                            margin-left: 3px;
                            margin-bottom: 0;
                        }

                        .recent_startDate{
                            margin-left: 3px;
                            margin-right: 10px;
                            margin-bottom: 0;
                        }

                        .recent_endDate{
                            margin-left: 3px;
                            margin-bottom: 0;
                        }
    .others{
        margin-top: 0;
        float: right;
        width: 30%;
    }
        .other_header{
            margin-right: 10%;
            color: #8E7A3F;
            font-size: 40px;
        }
        .other_activity{
            height: auto;
            background-color: #262626;
            color: #ffffff;
            padding: 1%;
            margin-bottom: 2%;
            margin-right: 10%;
            border: 2px solid #8E7A3F;
        }

        .notification_wrapper{
            margin: 2%;
            background-color: #262626;
            color: #ffffff;
            padding-left: 1%;
            padding-right: 1%;
            padding-bottom: 1%;
            border: 2px solid #8E7A3F;
        }
.unlogged_page{
    background-image: url("Event_Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: available;
    padding: 2%;
}

.unlogged_section{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    border: 2px solid #8E7A3F;
    height: 100vh;
}