
.inbox_title{
    margin-left: 10%;
    margin-right: 10%;
    color: #8E7A3F;
}

.inbox_wrapper{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    border: 2px solid #8E7A3F;
}
.notification_wrapper{
    margin: 2%;
    background-color: #262626;
    color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border: 2px solid #8E7A3F;
}

.wrapper_title{
    color: #8E7A3F;
    font-size: 40px;
    margin: 0;
    margin-bottom: 1%;
    margin-left: 2%;
}