html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header#header_home_page {
    padding: 1em;
    background-color: #111;
}

header#header_home_page a#logo {
    float: left;
    width: fit-content;
    float: left;
}

header#header_home_page h1 {
    padding-left: 7%;
    width: fit-content;
    float: left;
}

header#header_home_page form#search_bar {
    width: fit-content;
    float: left;
}

header#header_home_page ul#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    float: right;
    width: fit-content;
}

header#header_home_page ul#navbar li {
    float: left;
}

header#header_home_page ul#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header#header_home_page ul#navbar li a:hover {
    background-color: #111;
}

div#container {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}

aside#other_activity {
    width: 20%;
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    margin: 2%;
    border: 2px solid #8E7A3F;
    float: right;
}
aside#other_activity h1{
    color: #8E7A3F;
}
section#section i{
    float: left;
    width: auto;
}
section#section table{
    width: auto;
}
main {
    background-color: #333;
    width: 100%;
}

footer {
    color: white;
    background: #262626;
    padding: 1em;
    height: 6em;
}



td,th {
    padding: 0.2em;
    text-align: left;
}