
.title{
    margin-left: 10%;
    margin-right: 10%;
    color: #8E7A3F;
    font-size: 40px;
}
.new_event_wrapper{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    border: 2px solid #8E7A3F;
}
.wrapper_title{
    color: #8E7A3F;
    font-size: 40px;
    margin: 0;
    margin-bottom: 1%;
}
    .event_form{
        margin-left: 5%;
    }
        .new_event_name{
            margin-bottom: 1%;
        }
            .name_field{
                width: 90%;
                margin-right: 10%;
            }

        .new_event_desc{
            margin-bottom: 2%;
        }
            .desc_field{
                resize: none;
                font-size: 16px;
                font-family: Arial;
                width: 90%;
                margin-right: 10%;
                height: auto;
            }
        .new_event_date{
        }
            .set_date{
                margin-bottom: 2%;
            }
            .set_poll{
                margin-bottom: 1%;
            }

.invite_wrapper{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    border: 2px solid #8E7A3F;
}

    .user{
        display: flex;
        background-color: #262626;
        color: #ffffff;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        border: 2px solid #8E7A3F;
        margin: 2%;

    }
    .invite_wrapper i{
        margin-right: 1%;
    }
    .invite_wrapper p{
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }

.button_wrapper{
    text-align: center;
}
    .button{
        border: 2px solid #8E7A3F;
        background: #8E7A3F;
        color: white;
        margin-bottom: 2%;
        padding: 1%;
    }