
.profile_title{
    margin-left: 10%;
    margin-right: 10%;
    color: #8E7A3F;
    font-size: 40px;
}

.profile_wrapper{
    display: flex;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

    .user_image_wrapper{
        width: fit-content;
        background-color: #262626;
        color: #ffffff;
        padding: 1%;
        border: 2px solid #8E7A3F;
    }

        .far fa-square fa-10x{
            margin-top: auto;
            margin-bottom: auto;
        }

    .user_info_wrapper{
        width: 70%;
        margin-right: 2%;
        margin-left: 2%;
        background-color: #262626;
        color: #ffffff;
        padding: 1%;
        border: 2px solid #8E7A3F;
    }
        .info{
            margin: 2%;
        }
        .info_title{
            color: #8E7A3F;
            font-size: 25px;
        }

    .user_options_wrapper{
        display: flex;
        flex-direction: column;
        width: 20%;
        background-color: #262626;
        color: #8E7A3F;
        border: 2px solid #8E7A3F;
    }
    .user_options_wrapper a{
        display: block;
        font-size: 17px;
        padding: 22px;
        text-align: center;
        border: 2px solid #8E7A3F;

    }
    .user_options_wrapper a:hover{
        background-color: #333333;
        color: white;
    }

    .wrapper_title{
        color: #8E7A3F;
        font-size: 40px;
        margin: 0;
        margin-bottom: 1%;
        margin-left: 2%;
    }

.user_events_wrapper{
    height: auto;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1%;
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    border: 2px solid #8E7A3F;
}
    .events_upper{

    }
    .events_details{
        display: flex;
    }
        .event_text{

        }
        .events_details i{
            margin-right: 2%;
        }
    .events_down{

    }