
.profile_title{
    margin-left: 10%;
    margin-right: 10%;
    color: #8E7A3F;
    font-size: 40px;
}
.trash{
    margin-left: 10%;
    margin-right: 10%;
    color: #8E7A3F;
}

.profile_wrapper{
    display: flex;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

    .user_image_wrapper{
        /*width: fit-content;*/
        background-color: #262626;
        color: #ffffff;
        padding: 1%;
        border: 2px solid #8E7A3F;
    }

        .far fa-square fa-10x{
            margin-top: auto;
            margin-bottom: auto;
        }

    .user_info_wrapper{
        width: 60%;
        margin-right: 2%;
        margin-left: 2%;
        background-color: #262626;
        color: #ffffff;
        padding: 1%;
        border: 2px solid #8E7A3F;
    }
        .info{
            margin: 2%;
        }
        .info_title{
            color: #8E7A3F;
            font-size: 25px;
        }

    .user_options_wrapper{
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: #262626;
        color: #8E7A3F;
        border: 2px solid #8E7A3F;
        height: available;
    }
    .user_options_wrapper a{
        flex: 1;
        display: flex;
        font-size: 17px;
        padding: 22px;
        border: 2px solid #8E7A3F;
        height: max-content;
        align-items: center;
        justify-content: center;
    }
    .user_options_wrapper a:hover{
        background-color: #333333;
        color: white;
    }

    .wrapper_title{
        color: #8E7A3F;
        font-size: 40px;
        margin: 0;
        margin-bottom: 1%;
        margin-left: 2%;
    }
.title{
    margin-left: 10%;
    margin-right: 10%;
    color: #8E7A3F;
    font-size: 40px;
}

.recent_section{
    margin-right: 10%;
    margin-left: 10%;
}
.event_section{
    width: 100%;
    height: auto;
    background-color: #262626;
    color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 2%;
    border: 2px solid #8E7A3F;
    float: left;
    display: block;
}
    .recent_title{
        font-size: xx-large;
        color: #8E7A3F;
        display: flex;
    }
    .recent_event_name{
        color: #8E7A3F;
    }
    .recent_buttons{
        align-self: center;
        margin-left: auto;
    }
    i:hover{
        color: #ac934e;
    }
    i:active{
        color: #8E7A3F;
    }


    .recent_body{
        display: flex;
        padding-bottom: 10px;
    }
        .far fa-square fa-10x{
            float: left;
            width: auto;
        }
        .recent_details{
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            align-content: space-evenly;
        }
        .recent_event_desc{
            color: white;
            margin-bottom: 2%;
        }
        .recent_date_box{
            display: flex;
            flex-direction: row;
            margin-bottom: 2%;
        }
            .recent_poll{
                font-size: large;
                margin-left: 3px;
                margin-bottom: 0;
            }

            .recent_startDate{
                margin-left: 3px;
                margin-right: 10px;
                margin-bottom: 0;
            }

            .recent_endDate{
                margin-left: 3px;
                margin-bottom: 0;
            }


.invite_wrapper{
    margin-left: 10%;
    margin-bottom: 5%;
    width: 25%;
    height: auto;
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    border: 2px solid #8E7A3F;
    float: left;
    align-items: center;
}

.user{
    display: flex;
    background-color: #262626;
    color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border: 2px solid #8E7A3F;
    margin: 2%;

}
.invite_wrapper i{
    margin-right: 1%;
}
.invite_wrapper p{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.events_wrapper{
    margin-right: 10%;
    margin-bottom: 5%;
    width: 53%;
    height: auto;
    background-color: #262626;
    color: #ffffff;
    padding: 1%;
    border: 2px solid #8E7A3F;
    float: right;
    align-items: center;
}
.event_section_wrapper{
    margin-right: 2%;
    margin-left: 2%;
}

.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 500px;
}