

.query_wrapper{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    height: auto;
    padding: 2%;
    background-color: #262626;
    color: #ffffff;
    border: 2px solid #8E7A3F;
    align-items: center;
}
    .query_field{

    }

.wrapper{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    height: auto;
    background-color: #262626;
    color: #ffffff;
    border: 2px solid #8E7A3F;
    align-items: center;
}

    .user{
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 3%;
        display: flex;
        background-color: #262626;
        color: #ffffff;
        padding: 1%;
        border: 2px solid #8E7A3F;
        align-items: center;
    }
        .user i{
            margin-right: 1%;
        }
        .user p{
            margin-top: auto;
            margin-bottom: auto;
        }

    .organization{
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 3%;
        display: flex;
        background-color: #262626;
        color: #ffffff;
        padding: 1%;
        border: 2px solid #8E7A3F;
        align-items: center;
    }
        .organization i{
            margin-right: 1%;
        }
        .organization p{
            margin-top: auto;
            margin-bottom: auto;
        }

    .event_section{
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 3%;
        margin_top: 0;
        display: flex;
        flex-direction: column;
        background-color: #262626;
        color: #ffffff;
        padding: 1%;
        padding-top: 0;
        border: 2px solid #8E7A3F;
        align-items: center;
    }
        .recent_title{
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;
            font-size: xx-large;
            color: #8E7A3F;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
            .recent_event_name{
                color: #8E7A3F;
            }
            .recent_buttons{
                align-self: center;
                margin-left: auto;
            }
                i:hover{
                    color: #ac934e;
                }
                i:active{
                    color: #8E7A3F;
                }


        .recent_body{
            width: 100%;
            display: flex;
            padding-bottom: 10px;
            margin-top: 0;
            display: flex;
            justify-content: start;
        }
            .far fa-square fa-10x{
                float: left;
                width: auto;
            }
            .recent_details{
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                align-content: space-evenly;
            }
                .recent_event_desc{
                    color: white;
                    margin-bottom: 2%;
                }
                .recent_date_box{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 2%;
                }
                    .recent_poll{
                        font-size: large;
                        margin-left: 3px;
                        margin-bottom: 0;
                    }

                    .recent_startDate{
                        margin-left: 3px;
                        margin-right: 10px;
                        margin-bottom: 0;
                    }

                    .recent_endDate{
                        margin-left: 3px;
                        margin-bottom: 0;
                    }
                .recent_creator{
                }
    .Nothing_found{
        color: #8E7A3F;
        text-align: center;
        align-self: center;
        padding-bottom: 1%;
        padding-top: 1%;
    }