<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "inbox" %>

<section class="inbox_wrapper">
  <h2>Your Inbox</h2>
  <% @notifications.each do |notification| %>
    <p>
      <section class="notification_wrapper">
        <p>New notification:</p>
        <%= notification.message %>
      </section>
    </p>
  <% end %>

</section>

