<%= stylesheet_link_tag "inbox" %>

<h1 class="inbox_title">Your Inbox</h1>
<section class="inbox_wrapper">
  <h1 class="wrapper_title">Notifications:</h1>
  <% @notifications.each do |notification| %>
    <p>
      <section class="notification_wrapper">
        <p>New notification:</p>
        <%= notification.message %>
      </section>
    </p>
  <% end %>

</section>

