<%= stylesheet_link_tag "inbox" %>

<h1 class="inbox_title">Your Inbox</h1>
<section class="inbox_wrapper">
  <h1 class="wrapper_title">Messages:</h1>
  <% @messages.each do |message| %>
    <section class="notification_wrapper">
      <p>New message from <%= message.from.name %>: </p>
      <%= message.message %>
    </section>
  <% end %>
</section>

<section class="inbox_wrapper">
  <h1 class="wrapper_title">Notifications:</h1>
  <% @notifications.each do |notification| %>
    <section class="notification_wrapper">
      <p>New notification:</p>
      <%= notification.message %>
    </section>
  <% end %>
</section>
